@font-face{
	font-family:Adilson;
    src: url(../fonts/RobotoSlab-Regular.ttf)
}
@font-face{
	font-family:Breezy;
    src: url(../fonts/Vampire-Wars.ttf)
}
@font-face{
	font-family:Nascimento;
    src: url(../fonts/AidaSerifa-Condensed.ttf)
}
body{
    background:#f5f5f9 ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.quadro{
    width: 400px;
    height: 450px;
    background: white;
    border-radius: 8px;;
    box-shadow: #ecedf2 1px px 1px 1px;
}
.primeira{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.primeira h1{
    font-weight: 700;
    letter-spacing: 1px;
    font-family:Adilson ;
    font-size: 24px;;
    color: #696cff;
}
.segundo h2{
    font-family:Adilson ;
    font-size: 20px;;
    color: #566a7f;
}
.segundo{
    padding: 20px;
    padding-top: 30px;;
}
.segundo p{
    font-family:Adilson ;
    font-size: 15px;;
    color: #566a7f;
    text-transform: inherit;
}
form{
    display:flex;
    flex-direction: column;;
    margin-top: 30px;;
}
form label{
    font-family:Adilson ;
    font-size: 13px;;
    color: #566a7f;
    text-transform: inherit;
    margin: 10px 0;
}
form input[type=text]{
    width: 100%;
    height: 35px;
    border: #d9dee3 solid 1px; border-radius: 6px;;
    font-weight: 400;
    color: #697a8d;
    font-family: Adilson;
}
form input[type=password]{
    width: 100%;
    height: 35px;
    border: #d9dee3 solid 1px; border-radius: 6px;;
    font-weight: 400;
    color: #697a8d;
    font-family: Adilson;
}
.reme{
    padding: 20px 0; ;
}
.reme label{ 
        font-family:Adilson ;
        font-size: 15px;;
        color: #566a7f;
}
form input[type=submit]  {
    width: 100%;
    font-size: 14px;
    padding: 10px;
    border: #696cff solid 1px; border-radius: 6px;;
    font-weight: 500;
    color: #697a8d;
    font-family: Adilson;
    background: #696cff;
    color:white;
    box-shadow: 0 0.125rem 0.25rem 0 rgb(105, 108, 255 /40%);
    cursor: pointer;
    transition: all 0.6s;
    
}
form input[type=checkbox]  {
        
}
form input[type=submit]:hover{
    transform: translateY(-6px);
    background: #4f52ff;
}